<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/dist/sweetalert.css">
    <script src="/static/dist/sweetalert.min.js"></script>
    {% block css %}

    {% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BBS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a style="color: navajowhite"><img src="/media/{{ user_avatar.avatar }}" width="25px"
                                                           height="25px">
                        {{ request.user.username }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">更多选项 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">修改密码</a></li>
                            <li><a href="/change_avatar/">修改头像</a></li>
                            <li><a id="set_delete">注销账号</a></li>

                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">退出登录</a></li>
                        </ul>
                        {# 模态框修改密码 #}
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <h2 class="text-center">修改密码</h2>
                                    <div class="form-group" style="margin-left: 15%">用户名
                                        <input type="text" disabled
                                               value="{{ request.user.username }}"
                                               class="form-control" name="username" id="id_username" style="width: 75%">
                                    </div>
                                    <div class="form-group" style="margin-left: 15%">旧密码
                                        <input type="password" id="old_pwd" class="form-control"
                                               name="password" style="width: 75%">
                                    </div>
                                    <div class="form-group" style="margin-left: 15%">新密码
                                        <input type="password" id="new_pwd" class="form-control"
                                               name="new_pwd" style="width: 75%">
                                    </div>
                                    <div class="form-group" style="margin-left: 15%">确认新密码
                                        <input type="password" id="re_new_pwd" class="form-control"
                                               name="re_new_pwd" style="width: 75%">
                                    </div>
                                    <div class="modal-footer">
                                        <span id="err_msg" style="color: red"></span>
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">取消
                                        </button>
                                        <button type="button" class="btn btn-primary" id="btn_submit"
                                                style="margin-right: 20%">提交
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <span id="show_status" style="display: none">logined</span>
                {% else %}
                    <span id="show_status" style="display: none"></span>
                    <li><a href="/register/">注册</a></li>
                    <li><a href="/login/"><span class="glyphicon glyphicon-user"></span>登录</a></li>
                {% endif %}
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                操作
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation"><a href="/add_article/">新增文章</a></li>
                                <li role="presentation"><a href="#">修改头像</a></li>
                                <li role="presentation"><a href="/backend/">后台首页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                分类
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li role="presentation"><a href="#">修改分类</a></li>
                                    <li role="presentation"><a href="#">修改标签</a></li>

                                </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                其他
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation"><a href="#">其他</a></li>
                                <li role="presentation"><a href="#">相册</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                              data-toggle="tab">文章</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">相册</a>
                    </li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">文件</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        {% block article %}

                        {% endblock %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        {% block photo %}

                        {% endblock %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        {% block file %}

                        {% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
{% block js %}
    <script>
    $('#btn_submit').click(function () {
        let new_pwd = $('#new_pwd').val()
        let renew_pwd = $('#re_new_pwd').val()
        if (new_pwd !== renew_pwd) {
            alert('两次密码输入不一致')
        }
        $.ajax({
            url: '/set_password/',
            type: 'post',
            data: {old_password: $('#old_pwd').val(), password: new_pwd, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (data) {
                if (data.status === 100) {
                    location.href = data.url
                } else {
                    $('#err_msg').text(data.msg)
                }
            }
        })
    })
    $('#set_delete').click(function () {
        swal({
                title: "你确定要注销账户吗?",
                text: "注销账户后您将无法使用本账户登录!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "是的，我确认注销!",
                cancelButtonText: "我点错了!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    // 朝后端发送ajax请求删除数据之后，再弹下面的提示框
                    $.ajax({
                        url: '/set_delete/',
                        type: 'post',
                        data: {'is_delete': true, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        success: function (data) {
                            location.href = data.url
                        }
                    })
                    swal("已注销!", "您的账户已注销.", "success");
                } else {
                    swal("已取消", "您的账户仍然非常安全 :)", "error");
                }
            });
    })
    </script>
{% endblock %}
</html>
